{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.header{
    text-align: center;
    background: #203951;
    padding: 32px;
    color: blueviolet;
}
.topNav a{
    text-decoration: none;
    color: coral;
    font-weight: bold;
    padding: 13px 14px;
}